/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

a:hover {
	cursor: pointer;
}

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;padding: 0 }
body {
    font-family: 'Nunito', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

.mat-step-header {
  pointer-events: none !important;
}

a:hover {
	text-decoration: none;
}